* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: rgba(255, 255, 255, 0.9);
  }
  a {
    color: white;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

@media (min-width: 1040px) {
  .demo-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: calc(50% - 10px);
  }
}

.demo-el-wrapper:nth-of-type(1) {
  grid-column-start: 1;
}
.demo-el-wrapper:nth-of-type(2) {
  grid-column-start: 2;
}

.demo-preview-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.demo-title {
  margin-right: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}

.demo-title-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.code-link {
  margin-right: 12px;
  border-radius: 4px;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.1);
  color: #111;
  transition: background 0.175s ease, color 0.175s ease;
}
.code-link:hover {
  background: #111;
  color: white;
}
@media (prefers-color-scheme: dark) {
  .code-link {
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
  .code-link:hover {
    background: white;
    color: #111;
  }
}
.code-link:last-of-type {
  margin-right: 0;
}

@media (prefers-color-scheme: dark) {
  .demo-title {
    color: white;
  }
}

.demo {
  box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  .demo {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: none;
  }
}

.demo-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* border: 1px solid rgba(0, 0, 0, 0.12); */
}

#spiral-preview {
  background-image: paint(spiral);
}

.demo-controls {
  /* border: 1px solid rgba(0, 0, 0, 0.12); */
  border-top: none;
  padding: 20px;
  /* height: 150px; */
}

.demo-controls label {
  border-radius: 2px;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4px 10px;
  width: 50%;
  white-space: pre;
  overflow: auto;
}

@media (min-width: 720px) {
  .demo-controls label {
    white-space: initial;
    width: initial;
    overflow: initial;
  }
}

@media (prefers-color-scheme: dark) {
  .demo-controls label {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper input {
  margin-right: 5px;
}

h1 {
  margin: 0;
}

.intro {
  padding: 1.5rem 0 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
@media (prefers-color-scheme: dark) {
  .intro {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }
}

.github-link {
  display: flex;
  align-items: center;
}

.github-link svg {
  margin-right: 12px;
}

@media (prefers-color-scheme: dark) {
  .github-link svg path {
    fill: white;
  }
}

blockquote {
  margin: 1.5rem 0;
  padding-left: 2rem;
  border-left: 10px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}
@media (prefers-color-scheme: dark) {
  blockquote {
    border-left: 10px solid rgba(255, 255, 255, 0.1);
    color: white;
  }
}

.title {
  margin-bottom: 2rem;
}

.title h1 {
  margin-bottom: 2rem;
}

@media (min-width: 720px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title h1 {
    margin-bottom: 0;
  }
}

.output {
  font-family: monospace;
}

.footer-demo {
  margin-top: 8rem;
  margin-bottom: 4rem;
}

@media (min-width: 900px) {
  .footer-demo {
    display: flex;
    justify-content: space-between;
  }
}

:root {
  --quadratic-curve-number-points: 6;
  --quadratic-curve-stroke-width: 3;
  --quadratic-curve-stroke-color: #d35400;
  --quadratic-curve-helper-stroke-color: #999999;
  --quadratic-curve-helper-radius: 5;
  --quadratic-curve-helper-background-color: #c0392b;
  --quadratic-curve-helper-accent-color: #f1c40f;

  --loop-number-sides: 6;
  --loop-rotation: 0deg;
  --loop-size: 100%;
  --loop-stroke-color: #444444;
  --loop-stroke-width: 1;

  --deep-sea-bubbles-count: 36;
  --deep-sea-grass-count: 100;
  --deep-sea-background-color: #110755;
  --deep-sea-grass-color: #639c5b;
  --deep-sea-grass-height: 50%;

  --depth-spiral-min-radius: 10%;
  --depth-spiral-max-radius: 100%;
  --depth-spiral-num-points: 200;
  --depth-spiral-angle: 183deg;
  --depth-spiral-line-width: 1;
  --depth-spiral-color: #aaaaaa;
}

[data-name='Quadratic Curve'] {
  background-image: paint(quadratic-curve);
}

[data-name='Loop'] {
  background-image: paint(loop);
}

[data-name='Deep Sea'] {
  background-image: paint(deep-sea);
}

[data-name='Depth Spiral'] {
  background-image: paint(depth-spiral);
}
